body {
    height: 100%;
    margin: 0;
    font: 14px sans-serif;
}

#credits {
    font: 12px sans-serif;
    padding-bottom: 1%;
}

.instructions {
    color: red;
}

.optional {
    color: darkgreen;
}

/* Style tab links */
.tablink {
    background-color: #3498db;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
    transition: background-color 0.3s ease;
}

.tablink:hover {
    background-color: #2980b9;
}

.tablink.active {
    background-color: #2980b9;
}

/* Style the tab content */
.tabcontent {
    color: #2c3e50;
    display: none;
    padding: 20px;
    border-top: none;
}

.tabcontent.show {
    display: block;
}

/* Data Loading tab specific styles */
#DataLoading {
    padding: 20px;
}

#dataLoadingContent {
    margin-top: 50px;
}

.dataTableClass {
    width: 100%;
    border-collapse: collapse;
    border: 2px black solid;
    overflow-x: auto;
    display: block;
}

.tableHeaderClass, .tableBodyClass {
    border: 2px solid black;
    padding: 5px;
}

.tableHeaderClass {
    background-color: lightgray;
    font-weight: bold;
    text-transform: uppercase;
}

.tableBodyClass:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

svg {
    font: 10px sans-serif;
    width: 100%;
    height: auto;
}

/* Basic Visualization specific styles */
.basicVisualizationGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 10px;
}

.controls {
    margin-bottom: 10px;
}

#heatmap svg, #sankey svg, #scatterplot svg, #radar svg {
    width: 100%;
    height: auto;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: black;
}

fieldset {
    border-width: 0;
}

#legend {
    border: 1px solid black;
    padding: 10px;
}

/* the style for the close-button in the legend */
.close {
    display: inline-block;
    padding: 1px 5px;
    margin: 4px;
    border: 1px solid black;
    color: #000;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.close:hover {
    background: #ddd;
    cursor: pointer;
}

/* the style for the circle in the legend */
.color-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* the style for dots in the scatterplot */
.dot {
    cursor: pointer;
    opacity: 0.6;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
}

.dot:hover {
    opacity: 1;
}

/* tooltip for the scatterplot */
div.tooltip {
    position: absolute;
    text-align: left;
    padding: .2rem;
    margin: 1rem;
    background: #313639;
    color: #f9f9f9;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}

@media (max-width: 768px) {
    .tablink {
        width: 100%;
    }

    .basicVisualizationGrid, .dashboardGrid {
        grid-template-columns: 1fr;
    }

    .container {
        padding: 5px;
    }

    .tabcontent {
        padding: 10px;
    }
}

/* Tooltips */

#tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.sankey-tooltip {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 8px;
        border-radius: 4px;
        pointer-events: none;
        font-family: Arial, sans-serif;
        font-size: 12px;
        line-height: 1.5em;
    }
    .sankey-tooltip .tooltip-title {
        font-weight: bold;
        font-size: 14px;
    }
    .sankey-tooltip .tooltip-value {
        margin-top: 10px;
        font-size: 14px;
    }